:root {
    --branco:#ffffff;
    --cinza:#bdbdbd;
    --preto:#000000;
    --vermelho: #ff0000;
    --vermelho-escuro: #740101;
}

.corpo {
    background-color: var(--preto);
}

h1 {
    color: var(--branco);
    text-align: center;
}

.mesa {
    background-color: var(--cinza);
    border-radius: 14px;
    display: grid;
    grid-template-areas: "a b c"
                         "d e f"
                         "g h i";
    height: 340px;
    width: 340px;
    margin: auto;
    padding-top: 0.4em;
}

.areas {
    background-color: var(--branco);
    height: 90px;
    width: 90px;
    margin: auto;
}

.texto {
    color: var(--vermelho);
    font-size: 80px;
    text-align: center;
}

.container {
    text-align: center;
}

button {
    background-color: var(--vermelho);
    border: 3px solid var(--vermelho-escuro);
    color: var(--branco);
    font-size: 15px;
    width: 100px;
}

.botao_pontuar {
    margin-right: 1rem;
}

.alinhamento {
    padding: 0.5em 0 0 0;
}

h2 {
    color: var(--branco);
    font-size: 30px;
}

h3 {
    color: var(--branco);
    font-size: 30px;
}

#placar {
    color: var(--branco);
}

@media (min-width: 1024px){
    main {
        display: grid;
        grid-template-areas: "a b";
        margin: 5rem 15% 0 15%;
    }
}
    